@model Microsoft.WindowsAzure.MediaServices.Client.IJob

@{
    ViewBag.Title = "Media Services | Job Details";
}

<h3>Job Details</h3>

<p>@Html.ActionLink("Return to List", "Jobs", null, new { @class = "btn btn-primary" })</p>

@Html.RenderDetails(Model)

@(Html.RenderGrid<Microsoft.WindowsAzure.MediaServices.Client.IAsset>("inputassets", Model.InputMediaAssets, header: "Input Media Assets",
	detailsAction: (item => Url.Action("AssetDetails", new { assetid=item.Id }))))

@(Html.RenderGrid<Microsoft.WindowsAzure.MediaServices.Client.IAsset>("outputassets", Model.OutputMediaAssets, header: "Output Media Assets",
	detailsAction: (item => Url.Action("AssetDetails", new { assetid=item.Id }))))

@(Html.RenderGrid<Microsoft.WindowsAzure.MediaServices.Client.ITask>("tasks", Model.Tasks, header: "Tasks",
	detailsAction: (item => Url.Action("TaskDetails", new { jobid=Model.Id, taskid=item.Id }))))
